node_modules/
.next/
dist/
build/
*.zip
.tmp_newport

# Ignore specific large files that broke pushes
port.zip
bhumika-portfolio-next/node_modules/@next/swc-linux-x64-gnu/next-swc.linux-x64-gnu.node
bhumika-portfolio-next/node_modules/@next/swc-linux-x64-musl/next-swc.linux-x64-musl.node
